*::-webkit-scrollbar {
  display: none;
}

.catalog {
  margin-top: 15px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.catalog__product {
  height: 300px;
  flex: 1 292px;
  max-width: 292px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #e4e5ec;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
.catalog__product:hover {
  border: 2px solid #61d4df;
  box-shadow: 0 0 0 1px #61d5df;
}

.catalog__img {
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top:-42px;
}

.catalog__img img {
  max-width: 100%;
  max-height: 100%;
}

.catalog__title {
  font-size: 14px;
  color: #29304b;
}

.catalog__prices {
  border-top: 1px solid #e4e5ec;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height:30px;
}



.border {
  height: 18px;
  border: 1px solid rgb(228, 222, 222);
}

.catalog__product--border {
  border: 2px solid #61d4df;
}
