.sidebar__wrapper {
    height: 100%;
    width: 100%;
  }
  
  .sidebar {
    background-color: var(--border-color);
    height: 100%;
    width: 270px;
    position: fixed;
  }
  
  .sidebar::-webkit-scrollbar {
    display: none;
  }
  